node_modules
*.log
*.log.*
.idea
.DS_Store
.vscode
cypress/screenshots
cypress/videos

.docz
**/dist
packages/components/src/index.js
packages/icons/src/*.*
!packages/icons/src/*.mdx

# Components must live within their own directory. There should not be any loose files in the source directory.
packages/components/src/*.*
.npmrc
