node_modules
*.log
*.log.*
.idea
.DS_Store
.vscode
cypress/screenshots
cypress/videos

.docz
**/dist

/packages/components/*
!/packages/components/package.json
!/packages/components/src
!/packages/components/.babelrc

